<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" name="MyApp">
    <Properties>
        <Property name="datePattern">%d{UNIX_MILLIS}|%d</Property>
    </Properties>
    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %30c{1} -[%-30t] %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="consoleAppender"/>
        </Root>
    </Loggers>
</Configuration>